/chromium/
/compiz-1/
/dconf/
/docker/
/enchant/
/evolution/
/gedit/
/gnome-control-center/
/gtk-2.0/
/gtk-3.0/
/ibus/
/libaccounts-glib/
/libreoffice/
/menus/
/monitors.xml
/nautilus/
/pulse/
/software-center/
/ubuntu-ui-toolkit/
/unity/
/update-notifier/
/user-dirs.dirs
/user-dirs.locale
/yelp/
