# Ignore everything unless explicitly included
/*
!/.gitignore
!/.gitmodules
!/README.md
!/X/xsessionrc
!/bash/
!/bin/
!/environment.d/
!/fish/
!/git/
!/local.yml
!/npm/
!/profile
!/tmux/
!/vim
!/vlc/
